* {
  font-family: Open Sans, sans-serif; }

#contentIndex {
  display: flex;
  flex-direction: column;
  height: calc( 100vh - 90px);
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 30px; }
