#contentFuncionarios {
  padding: 20px;
  font-family: Open Sans, sans-serif; }

#divCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.funcCard {
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #CCCCCC;
  margin: 15px; }
