<%- contentFor('body') %>
<div id="contentPage">
    <div id="cardLogin" class="col-sm-4">
        <h1>Login</h1>
        <form id="loginForm" method="POST">
            <input class="textButton" type="text" name="username" placeholder="Usuário" required>
            <input class="textButton" type="password" name="password" placeholder="Senha" required>
            <input id="submitButton" type="submit" value="Entrar">
        </form>
    </div>
</div>