<%- contentFor('body') %>
     <div id="contentPage">
        <div id="cardLogin" class="col-sm-4">
            <h1>Register</h1>
            <% if (error === true) { %>
                <p class="errorMessage"><%= message %> </p>
            <% } %> 
            <form id="loginForm" method="POST">
                <input class="textButton" type="text" name="username" placeholder="Usuário" required>
                <input class="textButton" type="password" name="password" placeholder="Senha" required>
                <input class="textButton" type="email" name="email" placeholder="Email" required>
                <select class="textButton" type="select" name="cargo" required>
                    <option value="leitor">Leitor</option>
                    <option value="gestor">Gestor</option>
                    <option value="admin">Administrador</option>
                </select>
                <input id="submitButton" type="submit" value="Entrar">
            </form>
        </div>

     </div>